@import "/vendor/lesshat/build/lesshat-prefixed.less";
@import "../variables.less";

/* Container */

.hc-backend .dijitTabContainerLeft-container {
  .lh-box-shadow(0px 1px 4px 0px rgba(0,0,0,0.50));
  .lh-border-radius(5px);
  border: 0;
  float: right;
  width: 86%;
  position: relative;
  z-index: 100;
}

.hc-backend .dijitTabContainerLeft-dijitContentPane {
  background-color: #f7f7f7;
  padding: 20px;
}

/* Tabs */

.hc-backend .dijitTabContainerLeft-tabs {
  border: 0;
  width: 14%;
  .layout_image_separator-tabs;
  background-position: top center;
  background-size: 100% 2px;
}

.hc-backend .dijitTabContainerLeft-tabs .dijitTab {
  height: 86px;
  margin-bottom: 10px;
  .layout_image_separator-tabs;
  background-position: bottom center;
  background-size: 100% 2px;
  left: 0;
}

.hc-backend .dijitTabContainerLeft-tabs .dijitTab.dijitTabChecked,
.hc-backend .dijitTabContainerLeft-tabs .dijitTab:hover {
  .lh-background-image(linear-gradient(to bottom, #565e6a 0%,#494f58 98%));
  background-size: 100%;
  .lh-box-shadow(0px 1px 4px 0px rgba(0,0,0,0.50));
  .lh-border-bottom-left-radius(5px);
  .lh-border-top-left-radius(5px);
}

.hc-backend .dijitTabContainerLeft-tabs .dijitTab .tabLabel {

}