.hc-backend .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/checkmarkNoBorder.png");
}
.dj_ie6 .hc-backend .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/checkmarkNoBorder.gif");
}
.hc-backend .dijitCheckBox,
.hc-backend .dijitCheckBoxIcon {
	display: inline-block;
	background: #fcfcfc; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#f7f7f7 100%); /* W3C */
	border: 1px solid #CBCBCB;
	border-radius: 3px;
	height: 16px;
	width: 16px;
	-webkit-box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
	box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
	margin-right: 12px;
	cursor: pointer;
}

.hc-backend .dijitCheckBox input,
.hc-backend .dijitCheckBoxIcon input {
	cursor: pointer;
}

.dj_ie6 .hc-backend .dijitCheckBox,
.dj_ie6 .hc-backend .dijitCheckBoxIcon {
  background-image: url("images/checkboxAndRadioButtons_IE6.png");
  /* checkbox sprite image */

}
.hc-backend .dijitCheckBox,
.hc-backend .dijitToggleButton .dijitCheckBoxIcon {

}
.hc-backend .dijitCheckBoxChecked,
.hc-backend .dijitToggleButtonChecked .dijitCheckBoxIcon {
	background-image: url("images/checked.png");
	display: block;
}
.hc-backend .dijitCheckBoxDisabled {

}
.hc-backend .dijitCheckBoxCheckedDisabled {

}
.hc-backend .dijitCheckBoxHover {

}
.hc-backend .dijitCheckBoxCheckedHover {

}
