.hc-backend .dijitSliderRtl .dijitSliderProgressBarH,
.hc-backend .dijitSliderRtl .dijitSliderRemainingBarH,
.hc-backend .dijitSliderRtl .dijitSliderLeftBumper,
.hc-backend .dijitSliderRtl .dijitSliderRightBumper,
.hc-backend .dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.hc-backend .dijitSliderRtl .dijitSliderProgressBarV,
.hc-backend .dijitSliderRtl .dijitSliderRemainingBarV,
.hc-backend .dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.hc-backend .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.hc-backend .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.hc-backend .dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.hc-backend .dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
