.hc-backend .dijitTextBox,
.hc-backend .dijitInputInner {
  	color: #696969;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
	height: 22px;
}
.hc-backend .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #d46464;
  background-image: url("images/error.png");
  background-position: top center;
  border: solid #d46464 0;
  width: 9px;
}
.hc-backend .dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}
.hc-backend .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent;
  /* so the INPUT doesn't obscure the border in rtl+a11y */

}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.hc-backend .dijitTextArea,
.hc-backend .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
.hc-backend .dijitSelect .dijitInputField,
.hc-backend .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.dj_gecko .hc-backend .dijitTextBox .dijitInputInner,
.dj_webkit .hc-backend .dijitTextBox .dijitInputInner {
  padding: 1px;
}
.hc-backend .dijitSelect,
.hc-backend .dijitSelect .dijitButtonContents,
.hc-backend .dijitTextBox,
.hc-backend .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 #FFFFFF;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
	color: #696969;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.hc-backend .dijitSelect,
.hc-backend .dijitTextBox {
  background-color: #ffffff;
}
/* hover */
.hc-backend .dijitSelectHover,
.hc-backend .dijitSelectHover .dijitButtonContents,
.hc-backend .dijitTextBoxHover,
.hc-backend .dijitTextBoxHover .dijitButtonNode {

}
.hc-backend .dijitTextBoxHover {

}
/* error state */
.hc-backend .dijitSelectError,
.hc-backend .dijitSelectError .dijitButtonContents,
.hc-backend .dijitTextBoxError,
.hc-backend .dijitTextBoxError .dijitButtonNode {
  border-color: #d46464;
}


.hc-backend .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.hc-backend .dijitSelectErrorFocused,
.hc-backend .dijitSelectErrorFocused .dijitButtonContents,
.hc-backend .dijitTextBoxErrorFocused,
.hc-backend .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #ce5050;
}
/* disabled state */
.hc-backend .dijitSelectDisabled,
.hc-backend .dijitSelectDisabled .dijitButtonContents,
.hc-backend .dijitTextBoxDisabled,
.hc-backend .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #d3d3d3;
}
.hc-backend .dijitSelectDisabled,
.hc-backend .dijitTextBoxDisabled,
.hc-backend .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #efefef;
  background-image: none;
}
.hc-backend .dijitSelectDisabled,
.hc-backend .dijitTextBoxDisabled,
.hc-backend .dijitTextBoxDisabled .dijitInputInner {
  color: #818181;
}
.dj_webkit .hc-backend .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */

  color: #757575;
}
.dj_webkit .hc-backend textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */

  color: #1b1b1b;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
.hc-backend .dijitSelect .dijitArrowButtonInner,
.hc-backend .dijitComboBox .dijitArrowButtonInner {
	width: 24px;
	background: url("images/selector.png") center center no-repeat;
	height: 26px;
}
.hc-backend .dijitComboBox .dijitArrowButtonInner {
	height: 24px !important;
}
.hc-backend .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.hc-backend .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.hc-backend .dijitSelectLabel,
.hc-backend .dijitTextBox .dijitInputInner,
.hc-backend .dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.hc-backend .dijitComboBox .dijitButtonNode {
	background: #fcfcfc; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#f2f2f2 100%); /* W3C */
	padding: 0;
	margin-right: -8px;
	box-shadow: none;
	border-left: 1px solid #CCCCCC;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.hc-backend .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.hc-backend .dijitComboBox .dijitDownArrowButtonHover,
.hc-backend .dijitComboBoxFocused .dijitArrowButton {

}
.hc-backend .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.hc-backend .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {

}
/* Arrow Button change when drop down is open */
.hc-backend .dijitComboBox .dijitHasDropDownOpen {
  background-color: #7dbdfa;
  background-image: url("../images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
}
.dj_iequirks .hc-backend .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}
.hc-backend .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
.hc-backend div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
	 * (.front .dijitComboBoxDisabled .dijitArrowButtonInner) */

  background-position: 0 50%;
  background-color: #efefef;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .hc-backend .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_borderbox .hc-backend .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .hc-backend .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
