/* ======= Styling for the document itself (overriding dojo.css) ======== */
.hc-backend {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .688em;
  color: #131313;
}
/* Headings */
.hc-backend h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
}
.hc-backend h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
.hc-backend h3,
.hc-backend h4,
.hc-backend h5,
.hc-backend h6 {
  font-size: 1.091em;
  font-weight: normal;
}
/* paragraphs, quotes and lists */
.hc-backend p {
  line-height: 1.3em;
}
/* pre and code */
.hc-backend pre,
.hc-backend code {
  font-family: inherit;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}
/* tables */
.hc-backend table.dojoTabular thead,
.hc-backend table.dojoTabular tfoot {
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}
