/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  .hc-backend {

    .dijitTabContainerLeft-container {
      width: 84.9%;
      float: right;
      position: relative;
      z-index: 1;
    }

    .dijitTabContainerLeft-tabs {
      float: left;
      width: 15.1%;
      position: relative;
      z-index: 2;
      padding: 0;
      overflow: hidden !important;

      .dijitTab {
        background-position: bottom center;
        background-size: 100% 2px;
        height: 86px;
        margin: 0;
        width: 100%;
        float: none;
      }

      .dijitTab.dijitTabChecked,
      .dijitTab:hover {
        .lh-border-bottom-right-radius(0);
        .lh-border-top-right-radius(0);
        border-radius: 3px 0 0 3px;
      }
    }

    .dijitTabButtonIcon {
      margin: 20px auto;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  .hc-backend{

    .logo {
      width: 15.1%;
      float: left;
      height: @hc-logo-height;
      background-position: center top;

      span {
        margin-top: 85px;
        width: 100%;
      }
    }

    .dijitTabContainerLeft-container {
      margin-top: -@hc-logo-height;
      min-height: 950+@hc-logo-height;

      .dijitTabContainerLeft-dijitContentPane {
        min-height: 950+@hc-logo-height;
      }
    }

    .dijitTabButtonIcon {
      margin: 14px 5px 0;
    }

    form {

      label {
        width: 25%;
      }

      .field-description,
      .dijitSelect,
      .dijitTextBox {
        width: 75%;
      }
    }
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
