@color-brown-middle: #8d6645;
@color-brown-dark: #5c3d23;

.hc-backend *,
.hc-backend *:active,
.hc-backend *:hover,
.hc-backend *:focus {
  outline: none;
}

body.hc-backend {
  background: url("./images/bg.jpg") repeat, #f4f4f4;
  font-family: @droid;
  font-size: 14px;
}

.hc-backend .mainContainer,
.hc-backend .mainContainer .dijitLayoutContainer {
  width: 100%;
  display: table;
}

.hc-backend .dgrid-cell .edit-link {
  width: 100%;
  cursor: pointer;
  display: block;
  text-decoration: underline;
}

.hc-backend .logo {
  height: 100px;
  width: 224px;
  background: url("./images/logo.png") left top no-repeat;
  margin: 0 auto;

  span {
    background: url("./images/logo-txt.png") center no-repeat;
    height: 33px;
    display: block;
    margin-top: 30px;
    width: 110px;
    float: right;
  }
}

.hc-backend .dijitTabPaneWrapper {
  border: 0;
}

footer {
  padding: 20px 0;
}

.hc-backend .mils {
  text-align: right;
  font-family: @oswald;


  a,
  a:hover,
  a:focus {
    color: #b9b9b9;
  }
}

.hc-backend span.edit-button {
  width: 19px;
  height: 19px;
  background: url("./images/icon-editButton.png");
  display: block;
  cursor: pointer;
}


//############################# common grid style

.widgetHeader {
  background: linear-gradient(to bottom, #fff 0%,#f5f5f5 100%);
  border: 1px solid #c9c9c9;
  border-bottom-width: 0;
  height: 38px;
  line-height: 38px;
  box-shadow: inset 0 1px 0 #fff;
  padding: 0 15px;
  border-radius: 3px 3px 0 0;
}

.widgetHeaderTitle {
  margin: 0;
  color: #9a9a9a;
  text-shadow: 0 1px 0 #fff;
  line-height: inherit;
  font-size: 14px;
  font-family: @oswald;
}

.i_16_login {
  background-image: url('./images/icons/i_16_login.png');
  background-repeat: no-repeat;
}

.widgetIcon {
  background-position: 0 13px;
  padding-left: 25px;
}

.widgetContent {
  background-color: #fdfdfd;
  border: 1px solid #c9c9c9;
  box-shadow: inset 0 1px 0 #fff;
  border-radius: 0 0 3px 3px;
}

.widgetLineGrid {
  padding: 10px;
  width: auto;
  height: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dadada;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

//###############   RESIZE-HANDLE

.dgrid-resize-handle {
  right: -18px !important;
}

//##############  SETTINGS TOOLTIP MENU

.dgrid-hider-menu {
  top: 34px !important;
  right: 1px !important;
  border-radius: 4px;
//  background-color: #f9f9f9 !important;
  border: 1px solid #dadada !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  padding: 0 !important;

  .dgrid-hider-menu-row {
    border-bottom: 1px solid #dadada;
    height: 30px;
    background: #f9f9f9;
    padding: 0;

    &:hover {
      background: #fff;
    }

    &:last-child {
      border-bottom: none;
    }

    .dgrid-hider-menu-label {
      color: #8f8f8f;
      font-size: 13px;
      text-shadow: 0 1px 0 #fff;
      margin: 0;
      font-weight: normal;
      line-height: 30px;
      padding-left: 26px;
      cursor: pointer;
    }

    > input[type="checkbox"] {
      margin: 6px 0 0 5px;
    }
  }
}

