.backend .dijitDialog {
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 1024px;
}
.backend .dijitDialogPaneContent {
	background-color: #FDFDFD;
	border-top: 1px solid #C9C9C9;
	box-shadow: inset 0 1px 0 #ffffff;
	position: relative;
	color: #8F8F8F;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.backend .dijitDialogPaneContent >div {
	padding-bottom: 20px;
}

.backend .dijitDialogPaneContentArea {
  /* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	 */
  margin: -10px -8px;
  padding: 10px 8px;
}
.backend .dijitDialogPaneActionBar {
  /* gray bar at bottom of dialog with OK/Cancel buttons */

  background-color: #efefef;
  padding: 3px 5px 2px 7px;
  text-align: right;
  border-top: 1px solid #d3d3d3;
  margin: 10px -8px -10px;
}
.backend .dijitTooltipDialog .dijitDialogPaneActionBar {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  margin: 10px -10px -8px;
}
.backend .dijitDialogPaneActionBar .dijitButton {
  float: none;
}
.backend .dijitDialogTitleBar {
	background: #ffffff; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	height: 38px;
	line-height: 38px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
	padding: 0 15px;
}
.backend .dijitDialogTitle {
  /* typography and styling of the dialog title */
	margin: 0;
	color: #9a9a9a;
	font-size: 14px;
	text-shadow: 0 1px 0 #FFFFFF;
	font-weight: normal;
}
.backend .dijitDialogCloseIcon {
    background: url("images/close.png") no-repeat;
    display: block;
    float: right;
    height: 16px;
    margin-top: 10px;
    width: 16px;
}
.dj_ie6 .backend .dijitDialogCloseIcon {
  background: url("images/close.png") no-repeat;
}
.backend .dijitDialogCloseIconHover {

}
.backend .dijitDialogCloseIconActive {

}
/* Tooltip and TooltipDialog */
.backend .dijitTooltip,
.backend .dijitTooltipDialog {
  /* the outermost dom node, holding the connector and container */

  background: transparent;
  /* make the area on the sides of the arrow transparent */

}
.dijitTooltipBelow {
  /* leave room for arrow above content */

  padding-top: 13px;
  padding-left: 3px;
  padding-right: 3px;
}
.dijitTooltipAbove {
  /* leave room for arrow below content */

  padding-bottom: 13px;
  padding-left: 3px;
  padding-right: 3px;
}
.backend .dijitTooltipContainer {
  /* the part with the text */

  background-color: #ffffff;
  background-image: -moz-linear-gradient(bottom, rgba(207, 229, 250, 0.1) 0px, #ffffff 10px);
  background-image: -webkit-linear-gradient(bottom, rgba(207, 229, 250, 0.1) 0px, #ffffff 10px);
  background-image: -o-linear-gradient(bottom, rgba(207, 229, 250, 0.1) 0px, #ffffff 10px);
  background-image: linear-gradient(bottom, rgba(207, 229, 250, 0.1) 0px, #ffffff 10px);
  background-position: bottom;
  border: 1px solid #759dc0;
  padding: 6px 8px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 1em;
  color: #000000;
}
.backend .dijitTooltipConnector {
  /* the arrow piece */

  border: 0;
  z-index: 2;
  background-image: url("images/tooltip.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}
.dj_ie6 .backend .dijitTooltipConnector {
  background-image: url("images/tooltip8bit.png");
}
.backend .dijitTooltipBelow .dijitTooltipConnector {
  /* the arrow piece for tooltips below an element */

  top: 0;
  left: 3px;
  background-position: -31px 0;
  width: 16px;
  height: 14px;
}
.backend .dijitTooltipAbove .dijitTooltipConnector {
  /* the arrow piece for tooltips above an element */

  bottom: 0;
  left: 3px;
  background-position: -15px 0;
  width: 16px;
  height: 14px;
}
.dj_ie7 .backend .dijitTooltipAbove .dijitTooltipConnector,
.dj_ie6 .backend .dijitTooltipAbove .dijitTooltipConnector {
  bottom: -1px;
}
.backend .dijitTooltipABRight .dijitTooltipConnector {
  /* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left.
		Override above rules for .dijitTooltipBelow, .dijitTooltipAbove */

  left: auto;
  right: 3px;
}
.backend .dijitTooltipLeft {
  padding-right: 14px;
}
.backend .dijitTooltipLeft .dijitTooltipConnector {
  /* the arrow piece for tooltips to the left of an element, bottom borders aligned */

  right: 0;
  background-position: 0 0;
  width: 16px;
  height: 14px;
}
.backend .dijitTooltipRight {
  padding-left: 14px;
}
.backend .dijitTooltipRight .dijitTooltipConnector {
  /* the arrow piece for tooltips to the right of an element, bottom borders aligned */

  left: 0;
  background-position: -48px 0;
  width: 16px;
  height: 14px;
}
.backend .dijitDialogUnderlay {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
}

.backend .dijitDialog form > div {
	overflow: hidden;
	padding: 20px 40px;
	width: auto;
	height: auto;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dadada;
}

.backend .dijitDialog form > div.title {
	font-size: 20px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

.backend .dijitDialog form > div.attributes > div {
	float: left;
	width: 725px;
}

.backend .dijitDialog label,
.backend .dijitDialog .label {
	width: 200px;
	float: left;
	line-height: 28px;
}

.backend .dijitDialog .title {
	display: block;
	margin-bottom: 10px;
}

.backend .dijitDialog textarea {
	width: 725px;
}

.backend .dijitDialog .dijitButton.save {
	margin: 20px auto 0px;
	display: table;
}