.package .menus.hc-backend {
    
}

.package .menus.list {
    
}

.package .menus.hc-backend .menuTree {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    height: 500px;
}
